%form{:class=>"form-horizontal",:method=> "post", :action=>"submit"}
  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"job_name"} Job Name
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"job_name", :placeholder=>"Job Name"}
  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"working_directory"} Working Directory
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"working_directory", :placeholder=>"Working Directory"}
  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"root_directory"} Root Directory
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"root_directory", :placeholder=>"Root Directory"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"stderr_path"} Stderr Path
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"stderr_path", :placeholder=>"Stderr Path"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"stdout_path"} Stdout Path
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"stdout_path", :placeholder=>"Stdout Path"}


  %div{:class=>"control-group"}
    %div{:class=>"controls"}
      %label{:class=>"checkbox"} 
      %input{:type=>"checkbox", :id=>"fault_tollerant"} Fault Tollerant

  %div{:class=>"control-group"}
    %div{:class=>"controls"}
      %label{:class=>"checkbox"} 
      %input{:type=>"checkbox", :id=>"hold_submission"} User Hold Submission

  %div{:class=>"control-group"}
    %div{:class=>"controls"}
      %label{:class=>"checkbox"} 
      %input{:type=>"checkbox", :id=>"interactive"} Job Run as Interactive

  %div{:class=>"control-group"}
    %div{:class=>"controls"}
      %label{:class=>"checkbox"} 
      %input{:type=>"checkbox", :id=>"join"} Join Outputs

  %div{:class=>"control-group"}
    %div{:class=>"controls"}      
      %label{:class=>"select"} Keep
      %select{:id=>"keep"}
        %option{:value=>'e'} standard error
        %option{:value=>'o'} standard output
        %option{:value=>'eo'} both
        %option{:value=>'oe'} both
        %option{:value=>'n'} none

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"resource_list"} Resource List
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"resource_list", :placeholder=>"nodes=2:ppn=60"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"mail_options"} Mail Options
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"mail_options", :placeholder=>"abe"}


  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"user_list"} Mail User List
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"user_list", :placeholder=>"john@deep.space.nine.org, doe@deep.speace.nine.org"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"priority"} Job Priority
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"priority", :placeholder=>"between -1024 and +1023 inclusive"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"user"} Execute as user
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"user", :placeholder=>"user[:group]"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"destination"} Destination Queue
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"destination", :placeholder=>"The destination names a queue, a server, or a queue at a server."}

  %div{:class=>"control-group"}
    %div{:class=>"controls"}      
      %label{:class=>"select"} Rerunnable
      %select{:id=>"rerunnable"}
        %option{:value=>'y'} Yes
        %option{:value=>'n'} No

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"shell"} Shell
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"shell", :placeholder=>"path list"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"task_array"} Task Array
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"task_array", :placeholder=>"array_request"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"execution_user"} Execution User
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"execution_user", :placeholder=>"user[@host][,user[@host],...]"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"variable_list"} Variable List
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"variable_list", :placeholder=>"Expands the list of environment variables that are exported to the job."}

  %div{:class=>"control-group"}
    %div{:class=>"controls"}
      %label{:class=>"checkbox"} 
      %input{:type=>"checkbox", :id=>"export_variable"} Export Variables to Batch Job

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"additional_attributes"} Additional Attributes
    %div{:class=>"controls"}
      %input{:type=>"text", :id=>"additional_attributes", :placeholder=>"attr_name=attr_value[,attr_name=attr_value...]"}

  %div{:class=>"control-group"}
    %label{:class=>"control-label", :for=>"inputScript"} Linux Script
    %div{:class=>"controls"}
      %textarea{:rows=>6, :id=>"inputScript", :placeholder=>"Linux Script"}
  %div{:class=>"control-group"}
    %div{:class=>"controls"}
      %input{:type => "submit", :value => "Place in queue!"}